* {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#cont-general {
    height: 100vh;
    background-color: #003459;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
